@media (max-width: 320px) {

body {
  font-family: "Questrial",sans-serif;
  font-size: 16px;
  text-akign:left;
  line-height: 1.2;
  font-style: none;
  color: black;
  background-color: #D8D8D8;
}



}
