body {
  font-family: "Questrial",sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-style: none;
  background-image: url("../images/symphony.png");
}

#resume #container {width: 800px;
  margin: 0 auto;}

#dance #container {width: 800px;
    margin: 0 auto;}


nav ul {
    padding: 1em 0;
}

nav ul li {
              display: inline-block;
              margin: right;
              padding: 0px 5px 0px 5px;
            }

a:hover {background-color: rgb(160,217,215);
            }

h2 {text-align: center;
    font-size: 25px;
    font-family: "Questrial";
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    background: rgba(426,426,426,0.2)
            }

h1 {
  text-align: center;
}

header, address {text-align: center;
                margin-top: 20px;
}


#resume h3 {
  text-align: left;
  font-size: 18px;
  padding-left: 10px;
  line-height: 1em;
}

#resume p{ text-align: justify;
  padding: 0 10px 0 10px;
  line-height: 1em;
}

#resume li {text-align:left;
  line-height: 1em;
}

#resume div {
  margin-top: 32px;
  border: 1px solid #FFF5EE;
  width: 500px;
}

#resume footer {
  color: #995
  border-top: 1px solid #FFFFFF;
}

#aboutme div {text-align:center;}

#aboutme img {border: 1px black solid;
}

#aboutme nav {text-align: center;}

#dance nav {text-align: center;}

#dance h3 {
  text-align: left;
  font-size: 18px;
  padding-left: 10px;
}

#dance p{ text-align: justify;
  padding: 0 10px 0 10px;
}

#dance li {text-align:left;
}

#dance div {
  margin-top: 32px;
  border: 1px solid #FFF5EE;
  width: 500px;

}

#dance footer {
  color: #995
  border-top: 1px solid #FFFFFF;
}
